body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: sans-serif;
}

.square {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-color: beige;
  border: 1px solid gray;
}
